<div *ngIf="student">
    <h2>Student {{student.studentName}} details</h2>
    <div>
      <label>Id: </label> {{student.id}}
    </div>
    <div>
        <label>Name: </label> {{student.studentName}}
        <input [(ngModel)]="student.studentName" placeholder="studentName">
    </div>
    <div>
        <label>Group number: </label> {{student.studentGroup}}
        <input [(ngModel)]="student.studentGroup" placeholder="studentGroup">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="update()">Update</button>
</div>
